<div>
  <form #uForm="ngForm" (ngSubmit)="upload($event)">
    <label for="fname">choose File to Upload</label>
    <input type="file" id="fname" name="fileu" placeholder="choose File..">
    <input type="button" value="upload">
  </form>
  <hr>
  <form #dForm="ngForm">
    <label for="filecode">Type file code to download</label>
    <input type="text" id="filecode" name="fcode" placeholder="Input file code to download it..">
    <input type="button" value="download">
  </form>
</div>


<router-outlet></router-outlet>